body{
background-image: url(customer.jpg);
border-image-repeat: no-repeat;
background-size: cover;
}

.container {
    position: relative;
    width: 800px;
    height: 10vh;
    display: flex;
    align-items: center;
    
    transition: 0.5s;
 background-color: white;
}


.container .content 
{
    position: relative;
    max-width: 800px;
    

}


.container#blur.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}


a 
{
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    color: #fff;
    background: rgb(13, 86, 221);
    border-radius: 15px;
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 15px;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 28px;
    transform: rotate(45deg);
    font-weight: bold;
    cursor: pointer;
}
button{
    width:100px;
    
    color:white;
}